/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video ,button{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main css */
:root{
    font-family: 'ADLaM Display', cursive;
}
body{
    text-align: center;
    background-color: rgb(240, 240, 240);
}
.header{
    background-color:white;
    font-size: 4rem;
    padding: 3%;
}
.cardContainer{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(350px, 1fr) );
    padding: 2% 5%;
    row-gap: min(100px,5%);
    justify-items: center;
    height: 100%;
}
.card{
    height: 300px;
    width: 70%; 
    font-size: 1.3rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.192);
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card>h3{
    font-size: 2rem;
    font-weight: 500;
}
.addBtn{
    margin-top: 1%;
    padding: 1%;
    font-size: 1.8rem;
    background-color: inherit;
    border-radius: 10px;
    transition: 0.3s;
}
.addBtn:hover{
    background-color: rgb(226, 226, 226);
}
.addBtn:active{
    transform: scale(.98);
}
.newBookDialog{
    border: 0;
    padding: 1.5%;
    width: max(100px,17%);
    height: 360px;
    font-size: 1.3rem;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    transition: transform 0.3s ease-in-out;
}
.newBookDialog>div{
    font-size: 1.5rem;
    font-weight: 900;
}
.newBookDialog>form>input{
    font-family: 'ADLaM Display', cursive;
    border: 0;
    border-radius: 8px;
    width: 90%;
    padding: 3%; 
    font-size: 1.3rem;
    margin-top: 10%;
}
.newBookDialog>form>div{
    margin: 8% 0% 8% 0;
}
.newBookDialog::backdrop{
    background-color: rgba(73, 73, 73, 0.459);
}
.removeBtn{
    width: 90%;
    padding: 5%;
    background-color: rgba(255, 58, 58, 0.5);
    transition: .3s;
    border-radius: 10px;
    align-self: center;
}
.removeBtn:hover{
    background-color: rgba(255, 58, 58, 0.96);
    transform: scale(.98);
}
.submitBtn{
    width: 100%;
    padding: 5%;
    background-color: rgba(75, 218, 47, 0.50);
    transition: .3s;
    border-radius: 10px;
}
.submitBtn:hover{
    background-color: rgba(75, 218, 47, 0.96);
    transform: scale(.98);
}
img{
    transition: transform 0.3s ease-in-out;
}
img:hover{
    transform: scale(1.2);
}
.footer a img{
    width: 25px;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 98%;
    padding: 0.5%;
}